.header-color {
  background: #ff4a00;  /* fallback for old browsers */
  background:linear-gradient(to right, #ffa500, #ff4a00);
}


.landing-grid {
  background: #ff4a00;  /* fallback for old browsers */
  background:linear-gradient(to right, #ffa500, #ff4a00);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.default-background {
  background: #ff4a00;   /*fallback for old browsers */
  background:linear-gradient(to right, #ffa500, #ff4a00);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.kratzywordtz-default {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo-icon {
  height: 40px;
  /* padding-top: 5em; */
}

.projects-grid {
  display: flex;
}

.large-text {
  font-size: 2.5rem;
}

.activity-image-container {
  height: 100px;
  /* display: flex; */
}

.activity-image {
  width: 150px;
  /* display: flex; */
}


/* Button */

.default-button {
  width: 16rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  margin: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.default-button:hover {
  background-color: #ffd6c5; 
}

.default-button:active {
  background-color: #000050;
  color: #ffffff;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  margin: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.icon-button:hover {
  background-color: #ffd6c5; 
}

.icon-button:active {
  background-color: #000050;
  color: #ffffff;
}

.clickableCard {
  padding: 2em 3em 1em 3em;
  margin: 2em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  transition: all .1s ease-in-out;
  border: none;
  outline: none;
}

.clickableCard:hover {
  transform: scale(1.03);
}

.select-result-grid {
  /* gap: 0% 15%; */
  display: grid;
  grid-template-columns: 1fr  1fr;
  justify-items: stretch;
}

.TextCard {
  background-color: white;
  padding: 2em 3em 1em 3em;
  margin: 3em;
  box-shadow: 0 0 10px black;
  min-width: 250px;
  border: none;
  outline: none;
}

.eingabe{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

.eingabefeld{
  width: 200px;
  text-align: right;
}










