input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.app {
  font-family: 'Varela Round', sans-serif;
}

.default-font {
  font-family: 'Varela Round', sans-serif;
}

.h1 {
  font-family: 'Varela Round', sans-serif;
}

.h2 {
  font-family: 'Varela Round', sans-serif;
}

.h3 {
  font-family: 'Varela Round', sans-serif;
}

.h4 {
  font-family: 'Varela Round', sans-serif;
}

.header-color {
  background: #ff4a00;  /* fallback for old browsers */
  background:linear-gradient(to right, #ffa500, #ff4a00);
}

.default-background {
  background: #ff4a00;   /*fallback for old browsers */
  background:linear-gradient(to right, #ffa500, #ff4a00);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.kratzywordtz-default {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.large-text {
  font-size: 2.5rem;
}

.medium-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.5rem;
}

.activity-image-container {
  height: 100px;
  /* display: flex; */
}

.activity-image {
  width: 150px;
  /* display: flex; */
}


/* Button */

.default-button {
  width: 16rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  margin: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Varela Round', sans-serif;
  background-color: #ffffff;
}

.default-button:hover {
  background-color: #ffd6c5; 
}

.default-button:active {
  background-color: #000050;
  color: #ffffff;
}

.secondary-button {
  width: 12rem;
  height: 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  margin: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
}

.secondary-button:hover {
  background-color: #ffd6c5; 
}

.secondary-button:active {
  background-color: #000050;
  color: #ffffff;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  margin: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffff; 
}

.icon-button:hover {
  background-color: #ffd6c5; 
}

.icon-button:active {
  background-color: #000050;
  color: #ffffff;
}

.clickableCard {
  /* padding: 2em 3em 1em 3em; */
  /* padding: 1em; */
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  transition: all .1s ease-in-out;
  border: none;
  outline: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  background-color: #ffffff;
}

.clickableCard:hover {
  transform: scale(1.03);
}

.clickableCard:disabled {
  color: rgb(66, 66, 66);
  transform: none;
  cursor: default;
  box-shadow: 0 0 4px black;
}

.select-result-grid {
  /* gap: 0% 15%; */
  display: grid;
  grid-template-columns: 1fr  1fr;
  /* justify-items: stretch; */
  padding-left: 5%;
  padding-right: 5%;
}

.char-cards-grid {
  /* gap: 0% 15%; */
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
  /* justify-items: stretch; */
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Varela Round', sans-serif;
}

.text-card {
  background-color: white;
  padding: 1em 1em 1em 1em;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: 0 0 10px black;
  min-width: 230px;
  height: 25px;
  border: none;
  outline: none;
  font-family: 'Varela Round', sans-serif;
}

.eingabe{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

.eingabefeld{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  text-justify: center;
}